/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url("//cdn.jsdelivr.net/jquery.slick/1.5.2/slick.css");
@import url("//cdn.jsdelivr.net/jquery.slick/1.5.2/slick-theme.css");
@import url('http://fonts.googleapis.com/css?family=Quicksand:300,400,700');

$base-font:  "Quicksand", "Helvetica", "sans-serif";
$header-font: "Quicksand", "sans-serif";
$navbar-font: 'Quicksand', "sans-serif";

// Font-size and line-height
$base-size: 14pt;
$base-height: 1.4;

// Responsive design
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

/* -------------------------------------
 * Colors
 * ------------------------------------- */

$red: #FE3139;
$red-hover: rgba(254, 49, 57, 0.8);
$blue: #3A325D;
$green: #9CE62A;
$gray-dark: #837D9B;
$gray: #C1BFCC;
$gray-light: #EEEDF1;
$white: #FFFFFF;
$transparent-white: rgba(255, 255, 255, 0.9);

$link: $white;
$link-hover: $gray;

$red-google: #D53F38;
$blue-facebook: #3B5998;
$blue-twitter: #4099FF;


/* -------------------------------------
 * Menu
 * ------------------------------------- */

 $menu-width: 300px;
 $menu-padding: 20px;
 $menu-transition-duration: .5s;