$height: 400px;
$height_mobile: 250px;
$margin: 5px;

.home {
  .header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    @include mobile {
      flex-direction: column;
    }

    .left {
      display: flex;
      margin-right: $margin;
      height: $height + $margin;

      @include mobile {
        flex: 1;
        margin: 5px 0;
        height: $height_mobile;
      }

      @include tablet {
        flex: 1;
      }

      @include desktop {
        flex: 2;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-left: $margin;

      @include mobile {
        margin: 0;
      }

      .top {
        display: flex;
        flex: 1;
        height: $height / 2 - $margin;
        margin-bottom: $margin;

        @include mobile {
          height: $height_mobile;
          margin: 5px 0;
        }
      }

      .bottom {
        display: flex;
        flex: 1;
        height: $height / 2;
        margin-top: $margin;

        @include mobile {
          height: $height_mobile;
          margin: 5px 0;
        }
      }
    }
  }

  .content {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $white;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

    @include mobile {
      margin: 0px;
    }

    @include tablet {
      margin: 0 75px;
    }

    @include desktop {
      margin: 0 150px;
    }
  }
}