$height: 500px;
$height_mobile: 250px;
$margin: 3px;
$opacity: 0.4;
$opacity-hover: 0.2;

.home {
  .header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;

    @include mobile {
      flex-direction: column;
    }

    .left {
      display: flex;
      margin-right: $margin;
      height: $height;
      position: relative;

      @include mobile {
        flex: 1;
        width: 100%;
        margin: 5px 0;
        height: $height_mobile;

        .inner {
          position: absolute;
          top: 0; bottom: 0; left: 0; right: 0;
          background: rgba(0, 0, 0, $opacity-hover);
        }
      }

      @include tablet {
        flex: 1;

        .inner {
          position: absolute;
          top: 0; bottom: 0; left: 0; right: 0;
          background: rgba(0, 0, 0, $opacity-hover);
        }
      }

      @include desktop {
        flex: 2;

        .inner {
          position: absolute;
          top: 0; bottom: 0; left: 0; right: 0;
          background: rgba(0, 0, 0, $opacity);

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-left: $margin;
      width: 100%;
      position: relative;

      @include mobile {
        margin: 0;
      }

      .top {
        display: flex;
        flex: 1;
        width: 100%;
        height: $height / 2 - $margin;
        margin-bottom: $margin;
        position: relative;

        @include mobile {
          height: $height_mobile;
          margin: 5px 0;

          .inner {
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            background: rgba(0, 0, 0, $opacity-hover);
          }
        }

        @include tablet {
          .inner {
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            background: rgba(0, 0, 0, $opacity-hover);
          }
        }

        @include desktop {
          .inner {
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            background: rgba(0, 0, 0, $opacity);

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      .bottom {
        display: flex;
        flex: 1;
        width: 100%;
        height: $height / 2 - $margin;
        margin-top: $margin;
        position: relative;

        @include mobile {
          height: $height_mobile;
          margin: 5px 0;

          .inner {
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            background: rgba(0, 0, 0, $opacity-hover);
          }
        }

        @include tablet {
          .inner {
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            background: rgba(0, 0, 0, $opacity-hover);
          }
        }

        @include desktop {
          .inner {
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            background: rgba(0, 0, 0, $opacity);

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .content {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $white;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;

    @include mobile {
      margin: 0px;
      flex-direction: column;
    }

    @include tablet {
      margin: 0 75px;
    }

    @include desktop {
      margin: 0 150px;
    }
  }
}