$height: 500px;
$height_mobile: 250px;
$margin: 3px;
$scale_factor: 1;

.home {
  .header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    @include mobile {
      flex-direction: column;
    }

    .left {
      display: flex;
      margin-right: $margin;
      height: $height;
      filter: brightness(90%);

      @include mobile {
        flex: 1;
        width: 100%;
        margin: 5px 0;
        height: $height_mobile;
      }

      @include tablet {
        flex: 1;
      }

      @include desktop {
        flex: 2;
      }

      &:hover {
        filter: brightness(100%);
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-left: $margin;
      width: 100%;

      @include mobile {
        margin: 0;
      }

      .top {
        display: flex;
        flex: 1;
        width: 100%;
        height: $height / 2 - $margin;
        margin-bottom: $margin;
        filter: brightness(90%);

        @include mobile {
          height: $height_mobile;
          margin: 5px 0;
        }

        &:hover {
          filter: brightness(100%);
        }
      }

      .bottom {
        display: flex;
        flex: 1;
        width: 100%;
        height: $height / 2 - $margin;
        margin-top: $margin;
        filter: brightness(90%);

        @include mobile {
          height: $height_mobile;
          margin: 5px 0;
        }

        &:hover {
          filter: brightness(100%);
        }
      }
    }
  }

  .content {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $white;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    min-height: 400px;

    @include mobile {
      margin: 0px;
    }

    @include tablet {
      margin: 0 75px;
    }

    @include desktop {
      margin: 0 150px;
    }
  }
}