<div class='container'>
  <%= image_tag 'restaurant.jpg', {class: 'header_image'} %>
  <div class='infos <%= size %>'>
    <h1 class='title'>Stylistic</h1>
    <h2 class='subtitle'>Blogger interview</h2>
    <span class='description'>
      Stylistic est un site féminin qui ne se prend pas vraiment au sérieux. Né de la rencontre de différentes passions, il passe en revue l’actualité mode.
    </span>
    <div class='footer'>
      <span class='author'>By Gr&eacute;goire Hamaide</span>
      <div class="analytics">
        <span class='likes'>
          <i class="fa fa-heart"></i>25
        </span>
        <span class='views'>
          <i class="fa fa-eye"></i>100
        </span>
      </div>
    </div>
  </div>
</div>