<nav class='' id='menu'>
  <%= image_tag 'logo_white.png', {class: 'logo', id: 'logo_menu'} %>
  <ul>
    <li>
      <%= link_to root_path do %>
        <span>
          <i class='fa fa-home'></i>Accueil
        </span>
      <% end %>
    </li>
  </ul>
</nav>