<nav class='navbar fixed' id='navbar'>
  <a href='#' id='menu-trigger' data-effect='st-effect'>
    <i class='fa fa-bars'></i>
  </a>
  <%= image_tag 'logo_blog.png', {class: 'logo', id: 'logo_navbar'} %>
</nav>