<nav class='navbar fixed'>
  <%= image_tag 'logo.png', {class: 'logo', id: 'logo'} %>

  <div class='navbar-inner'>
    <%= link_to 'Accueil', root_path, {class: 'link'} %>
    <%= link_to 'Test 1', root_path, {class: 'link'} %>
  </div>
</nav>