<div class='home'>
  <div class='header'>
    <div class="left">
      
    </div>
    <div class="right">
      <div class="top">
        
      </div>
      <div class="bottom">
        
      </div>
    </div>
  </div>
</div>