body {
  margin: 0px;
  background-color: $gray-light;
  font-family: 'QuickSand';
}

h1 {
  color: $red;
  font-size: 22px;
  font-weight: bold;
  padding: 20px 20px 0 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

.wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: $gray-light;
  padding-top: 40px;
  margin-bottom: 60px;
  transition: all $menu-transition-duration ease;

  &.open {
    filter: brightness(40%);
  }
}

.hidden {
  display: none !important;
}