body {
  margin: 0px;
  background-color: $gray-light;
  font-family: 'QuickSand';
}

.wrap {
  padding-top: 40px;
  margin-bottom: 60px;
}

h1 {
  color: $red;
  font-size: 22px;
  font-weight: bold;
  padding: 20px 20px 0 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

.st-content {
  overflow-y: scroll;
  background: $gray-light;
}

.st-content,
.st-content-inner {
  position: relative;
}

.st-container {
  position: relative;
  overflow: hidden;
}

.st-pusher {
  position: relative;
  left: 0;
  z-index: 99;
  height: 100%;
  transition: transform 0.5s;
}

.st-pusher::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 0;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .st-pusher,
.no-js .st-pusher {
  padding-left: 300px;
}