$max-width: 250px;

.home {
  .content {
    a {
      display: flex;
      flex: 1;
      max-width: $max-width;
      padding: 13px;
      margin: 2px;
      flex-direction: column;
      text-decoration: none;

      &:hover {
        background-color: $gray-light;
        border-radius: 5px;
      }

      @include mobile {
        width: 100%;
        max-width: 100%;
      }

      .content_image {
        width: 100%;
        border-radius: 5px;

        @include mobile {
          height: 200px;
        }
        
        @include tablet {
          height: 250px;
        }

        @include desktop {
          height: 250px;
        }
      }

      .infos {
        .title {
          color: $blue;
          font-size: 13pt;
          padding: 0;
          margin: 15px 0 0 0;
          text-align: left;
          font-weight: normal;
        }

        .subtitle {
          color: $green;
          text-transform: uppercase;
          font-size: 9pt;
          padding: 0;
          margin: 5px 0 15px 0;
          text-align: left;
          font-weight: normal;
        }

        .description {
          color: $blue;
          font-size: 10pt;
          padding: 0;
          margin: 5px 0 10px 0;
          text-align: justify;
          font-weight: normal;
        }

        .footer {
          margin: 10px 0 0 0;
          display: flex;
          flex-direction: row;
          align-items: center;

          .author {
            color: $gray-dark;
            font-size: 9pt;
            padding: 0;
            text-align: left;
            font-weight: normal;
          }

          .analytics {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex: 1;

            .views {
              font-size: 10pt;
              color: $gray-dark;
              margin: 0 5px;

              .fa {
                margin-right: 5px;
              }
            }

            .likes {
              margin: 0 5px;
              font-size: 10pt;
              color: $gray-dark;

              .fa {
                color: $red;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}