.home {
  display: flex;
  flex-direction: row;

  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $gray-light;
    flex: 2;
    margin: 30px;
    height: 300px;
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $gray-light;
    flex: 1;
    margin: 30px;
    height: 300px;
  }
}