.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $red;
  z-index: 101;
  width: 0;
  overflow: hidden;
  transition: width $menu-transition-duration ease;

  .logo {
    width: 150px;
    margin: 20px 75px;
  }

  &.open {
    width: $menu-width;
  }

  ul {
    list-style-type: none;
    padding: 20px;

    li {
      width: $menu-width - 2 * $menu-padding;
      margin: 20px 0;

      i {
        font-size: 16pt;
        margin: 0 10px 0 0;
      }

      a {
        text-decoration: none;
        color: $link;
        font-size: 14pt;

        &:hover {
          color: $link_hover;
        }
      }
    }

    .store_container {
      display: flex;
      flex: 1;
      position: absolute;
      bottom: $menu-padding;
      left: $menu-padding;

      img {
        width: ($menu-width - 2 * $menu-padding) / 2 - 5px;
        margin: 0 5px 0 0;

        &.last {
          margin: 0 0 0 5px;
        }
      }
    }
  }
}

.menu_icon {
  position: fixed;
  top: 0px;
  left: 10px;
  z-index: 101;
  transition: all $menu-transition-duration ease;

  &.open {
    left: 10px + $menu-width;
    filter: brightness(40%);
  }

  .fa {
    padding: 10px;
    font-size: 15pt;
    color: $red;
  }
}